.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

button:focus, input:focus{
    border:none;
    outline:none;
}


button{
    background-color: #1f2228;
    border: none;
    text-transform: uppercase;
    color: #989ba5;
    font-weight: 500;
    padding: 10px 20px;
    width: 100px;
    margin-top: 30px;
    transition:.3s;
}
button:hover{
    background-color: #121417;
    cursor: pointer;
    transform: scale(1.05);
}

button:focus{
    border:none;
    outline:none;
}
